<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Address List</title>
    <link rel="stylesheet" href="/assets/user/home.css" />
    <link rel="stylesheet" href="/assets/user/newprofile.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <style>
      .col-12 {
        margin-top: 5px;
      }
      .custom-col-lg-8 {
        position: relative;
        height: 100px;
        padding-top: 100px;
        border-radius: 20px;
      }
      .custom-address-list {
        margin-top: 20px;
      }

      .custom-address-list h4 {
        font-size: 18px;
        margin-bottom: 10px;
      }

      .custom-list-group {
        list-style: none;
        padding: 0;
      }

      .custom-list-group-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #f7f7f7;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        border-radius: 8px;
        margin-top: 7px;
      }

      .custom-address-buttons button {
        margin-left: 10px;
      }
      .custom-list-group::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
  @media (max-width: 320px) {
     .col-lg-8 {
      /* Adjust padding for smaller screens */
      
     margin-top: 100px;
    }
  }

  @media (max-width: 320px) {
    
  }
  

 
  @media (max-width: 320px) {
      
    .navbar{
      width:425px
    }
    .footer{
      width:425px
    }
   
    .container {
      /* Adjust padding for smaller screens */
      width:380px;
    
      height: 1500px;
      justify-content: center;
    }
    .password {
     /* Adjust padding for smaller screens */
      padding-bottom: 5rem;
     margin-bottom: 50px;
      
      width: 150px;
    }
    .col-lg-8 {
      /* Adjust padding for smaller screens */
      
     margin-top: 100px;
    }
    
    
  }


  @media (max-width: 376px) {
    .container {
      /* Adjust padding for smaller screens */
      width:425px;
      height: 1500px;
      justify-content: center;
    }
    .col-lg-8 {
      /* Adjust padding for smaller screens */
      
     margin-top: 100px;
    }
  }

  @media (max-width: 426px) {
    .container {
      /* Adjust padding for smaller screens */
    
      height: 1500px;
      justify-content: center;
    }
    .col-lg-8 {
      /* Adjust padding for smaller screens */
      
     margin-top: 100px;
    }
  }
  @media (max-width: 769px) {
    .container {
      /* Adjust padding for smaller screens */
    
      height: 1500px;
      justify-content: center;
     
      }
       .body{
        width:100%
    }
    .col-lg-8 {
      /* Adjust padding for smaller screens */
      
     margin-top: 100px;
    }
  }

  @media (max-width: 426px) {
    .container {
      /* Adjust padding for smaller screens */
    
      height: 1500px;
      justify-content: center;
    }
  }
  

      
    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="left">
        <img
          src="/img/furniture-logo.jpg"
          alt="Decore Company Logo"
          class="company-logo"
        />
        <span class="company-name">DECORE COMPANY</span>
      </div>
      <div class="right">
        <a href="/home">Home</a>
        <a href="/cart">Cart</a>
        <a href="/whishlist">Favorites</a>
        <a href="/logout">Logout</a>
        <a href="/newprofile">Profile</a>
        <div class="dropdown">
          <div class="dropdown">
            <a
              class="btn dropdown-toggle"
              href="#"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Category
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="/homeproduct">House</a>
              <a class="dropdown-item" href="/office">Office</a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Profile -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-4 pb-5">
          <!-- Account Sidebar-->
          <div class="author-card pb-3">
            <div
              class="author-card-cover"
              style="
                background-image: url(https://cdn.wallpapersafari.com/84/49/4yxkEJ.jpg);
              "
            >
              <a
                class="btn btn-style-1 btn-white btn-sm"
                href="#"
                data-toggle="tooltip"
                title=""
                data-original-title="You currently have 290 Reward points to spend"
                ><i class="fa fa-award text-md"></i>&nbsp;290 points</a
              >
            </div>
            <div class="author-card-profile">
              <div class="author-card-avatar">
                <img src="/img/pro.jpg" alt="Daniel Adams" />
              </div>
              <div class="author-card-details">
                <h5 class="author-card-name text-lg">Hey ,<%=userDetails.name%></h5>
                          
                          <span class="author-card-position"><%=userDetails.email%></span>
                <input
                  type="file"
                  id="profileImageInput"
                  style="display: none"
                  accept="image/*"
                />
                <label
                  for="profileImageInput"
                  class="btn btn-style-1 btn-peach btn-sm mt-2"
                  style="
                    padding: 0rem 0.1rem;
                    background-color: rgba(128, 0, 0, 0.104);
                    color: #ba3434;
                    border-color: #ff838343;
                  "
                  ></label
                >
              </div>
            </div>
          </div>
          
          <div class="wizard">
            <nav class="list-group list-group-flush">
              <a class="list-group-item order-list" href="/orderPage"> Order List </a>
              <a class="list-group-item profile-settings" href="/newprofile">
                Profile Settings
              </a>
              <a class="list-group-item addresses active" href="/Address">
                Addresses
              </a>
              <a class="list-group-item my-wishlist" href="/whishlist"> My Wishlist </a>
              <a
                class="list-group-item my-tickets"
                href=" /cart"
              >
                My Cart
              </a>
              <a class="list-group-item my-tickets" href="/wallet">
                My Wallet
            </a>
            </nav>
          </div>
        </div>
        <!-- Profile Settings-->
        <div class="col-lg-8">
          <div class="custom-address-list">
            <h4>Your Custom Addresses</h4>
            <a href="/AddAddress" class="btn btn-success btn-sm">Add New Address</a>
            <ul class="custom-list-group" style="max-height: 380px; overflow-y: auto; ">
             <% addresses.forEach(address => {%>
              <li class="custom-list-group-item">
                <span><%=address.fullName%>, <%= address.houseName %>,<%= address.streetAddress %>,<%= address.city %>,<%= address.state %>,<%= address.country %>,<%= address.pinCode %></span>
                <div class="custom-address-buttons">
                    <button class="btn btn-sm btn-info" onclick="redirectToEdit('<%= address._id %>')">Edit</button>
                    <button class="btn btn-sm btn-danger" onclick="confirmDelete('<%= address._id %>')" data-id="<%= address._id %>">Delete</button>
                  </div>
              </li>
              <%})%>
              <!-- Add more address items as needed -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h4>About Us</h4>
          <p>
            Decore Company is your one-stop destination for high-quality
            furniture. Explore our exclusive collection to find the perfect
            pieces for your home.
          </p>
        </div>
        <div class="footer-section contact">
          <h4>Contact Information</h4>
          <p>Email: info@decorecompany.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="footer-section social">
          <h4>Follow Us</h4>
          <a href="#" class="social-icon"
            ><img
              src="/public/img/facebook-scalable-graphics-icon-facebook-logo-facebook-logo-png-clip-art.png"
              alt="Facebook"
          /></a>
          <a href="#" class="social-icon"
            ><img src="/public/img/Twitter_new_X_logo.png" alt="Twitter"
          /></a>
          <a href="#" class="social-icon"
            ><img
              src="/public/img/1658586823instagram-logo-transparent.webp"
              alt="Instagram"
          /></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Decore Company. All Rights Reserved.</p>
      </div>
    </footer>

    <script></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var listItems = document.querySelectorAll(".list-group-item");

        listItems.forEach(function (item) {
          item.addEventListener("click", function () {
            listItems.forEach(function (innerItem) {
              innerItem.classList.remove("active");
            });
            item.classList.add("active");
          });
        });
      });
    </script>
    <script>
      function confirmDelete(addressId) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You will not be able to recover this address!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                deleteAddress(addressId);
            }
        });
    }

    function deleteAddress(addressId) {
        fetch(`/deleteAddress/${addressId}`, {
            method: 'POST',
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                Swal.fire(
                    'Deleted!',
                    'Address has been deleted.',
                    'success'
                );
                // Optionally, update the UI or reload the page after successful deletion
                window.location.reload();
            } else {
                Swal.fire(
                    'Error!',
                    'Failed to delete address. Please try again.',
                    'error'
                );
            }
        })
        .catch(error => {
            console.error('Error:', error);
            Swal.fire(
                'Error!',
                'An error occurred. Please try again.',
                'error'
            );
        });
    }

</script>
<script>
  function redirectToEdit(addressId) {
    // Assuming '/editAddress' is the route for the EditAddress page
    window.location.href = '/editAddress/' + addressId;
  }
</script>

      
  </body>
</html>
