<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Decore Company</title>
    <link rel="stylesheet" href="/assets/user/home.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <style>
      .header h2 {
        color: #333; 
       text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.192);
        
      }
      .favorite-btn.active i {
    color: red; /* Change the color or add any other styles for the active state */
}
/* Checked star */
.fa-star.checked {
  color: #f8c45b; /* Change the color to your preferred color */
}

/* Half-checked star */
.fa-star.half-checked {
  color: #f8c45b; /* Change the color to your preferred color */
}

/* Unchecked star */
.fa-star {
  color: #ccc; /* Change the color to your preferred color */
}

/* Optionally, you can style the product-rating container */
.product-rating {
  margin-top: 5px; /* Adjust as needed */
}

.product-rating .fa {
  font-size: 20px; /* Adjust the font size of stars */
}
.product-card {
    /* Add styles for product card */
    transition: transform 0.3s ease;
  }

  /* Hover effect for product card */
  .product-card:hover {
    transform: scale(1.05);
    
  }
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap');

$anim: cubic-bezier(0.02, 0.63, 0.23, 0.99);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#roto{
  position: relative;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(0deg,#fff, transparent);
    opacity: 0;
    z-index: 4;
    transition: .2s all ease;
  }
  &.active::before{
    opacity: 1;
    height: 50%;
  }
}

body{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

h1{
  font-family: 'Cormorant Garamond', serif;
}

.slide{
  width: 100%;
  min-height: 88vh;
  position: relative;
  overflow: hidden;
  background-color: #000;
  .mainImage{
    position: absolute;
    width: 130vw;
    height: 130vw;
    object-fit: cover;
    object-position: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation-name: rotate;
    animation-timing-function: $anim;
    animation-iteration-count: 1;
    animation-duration: 1.1s;
  }
  .roundOuter{
    position: absolute;
    width: 86vw;
    height: 86vw;
    overflow: hidden;
    border-radius: 50%;
    left: calc(50% - 43vw);
    top: calc(50% - 43vw);
    filter: brightness(0.9);
    z-index: 1;
    border: 1px solid rgba(255,255,255,0.2);
    img{
      position: absolute;
      width: 130vw;
      height: 130vw;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      object-position: center;
      animation-name: rotate;
      animation-timing-function: $anim;
      animation-iteration-count: 1;
      animation-duration: 1.3s;
    }
  }
  .roundInner{
    position: absolute;
    width: 50vw;
    height: 50vw;
    overflow: hidden;
    left: calc(50% - 25vw);
    top: calc(50% - 25vw);
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 2;
    img{
      position: absolute;
      width: 70%;
      height: 70%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
      object-position: center;
      animation-name: rotate;
      animation-timing-function: $anim;
      animation-iteration-count: 1;
      animation-duration: 1.2s;
    }
  }
  .slideText{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    h1{
      font-size: 5vw;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 5vw;
      text-align: center;
      padding-left: 5vw;
      animation-delay: 1s;
      filter: drop-shadow(0 2px 10px #000);
      position: relative;
    }
    h1::after{
      content: "";
      position: absolute;
      width: 40vw;
      height: 1px;
      background-color: #fff;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    p{
      text-align: center;
      letter-spacing: 20px;
      font-weight: 600;
      font-size: 1.3rem;
      padding-left: 1.3rem;
      text-transform: uppercase;
      animation-delay: 1.5s;
      filter: drop-shadow(0 2px 10px #000);
    }
    .buttonNav{
      display: flex;
      justify-content: center;
      gap: 12px;
      animation-delay: 1.7s;
      button{
        border: none;
        background: transparent;
        color: #fff;
        font-size: 1.3rem;
        filter: drop-shadow(0 2px 10px #000);
      }
      span{
        display: grid;
        width: 1px;
        flex: 0 0 1px;
        background-color: #fff;
        filter: drop-shadow(0 2px 10px #000);
      }
    }
  }
}

@keyframes rotate{
  0%{
    transform:translate(-50%, -50%) rotate(0deg) scale(5)
  }
  100%{
    transform:translate(-50%, -50%) rotate(360deg) scale(1)
  }
}

#about{
  color: #999;
  padding-top: 80px;
  padding-bottom: 80px;
  h2{
    color: #000;
  }
  img{
    margin-top: 20px;
    width: 100%;
    height: 70%;
    object-fit: cover;
    object-position: center;
    filter: drop-shadow(0 2px 10px #000);
  }
}

@media(max-width: 575px){
  .slide{
    .mainImage{
      width: 130vh;
      height: 130vh;
    }
    .roundOuter{
      width: 86vh;
      height: 86vh;
      left: calc(50% - 43vh);
      top: calc(50% - 43vh);
      img{
        width:130vh;
        height: 130vh;
      }
    }
    .roundInner{
      width: 50vh;
      height: 50vh;
      left: calc(50% - 25vh);
      top: calc(50% - 25vh);
      img{
        width: 130vh;
        height: 130vh;
      }
    }
    .slideText{
      h1{
        font-size: 9vw;
        letter-spacing: 3vw;
        padding-left: 3vw;
      }
      p{
        font-size: 5vw;
        letter-spacing: 2vw;
        padding-left: 2vw;
      }
    }
  }
}

    </style>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar">
      <div class="left">
        <img
          src="/img/furniture-logo.jpg"
          alt="Decore Company Logo"
          class="company-logo"
        />
        <span class="company-name">DECORE COMPANY</span>
      </div>
      <div class="center">
        <!-- <div class="search-bar">
          <input type="text" id="searchInput" placeholder="Search...">
          <button type="button" onclick="searchProducts()">Search</button>
      </div> -->
        <form action="/search" method="get">
          <div class="search-bar">
              <input type="text"  name="q" placeholder="Search...">
              <button type="submit">Search</button>
          </div>
        </form>
    </div>
      <div class="right">
        <a href="/home">Home</a>
        <a href="/cart">Cart</a>
        <a href="/whishlist">Favorites</a>
        <a href="/logout">Logout</a>
        <a href="/newprofile">Profile</a>
        
         
          
            <div class="dropdown">
              <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Category
              </a>
          
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                  <a class="dropdown-item" href="/homeproduct">Home</a>
                  <a class="dropdown-item" href="/office">Office</a>
              </div>
          
          </div>
        
      </div>
    </nav>

    <!-- Banner -->
    <section id="roto">
      <div id="rotoTransition" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000"
        data-bs-pause="false">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="slide">
              <img src="https://www.architectureanddesign.com.au/getattachment/Features/List/Bold-beautiful-and-beloved-how-the-colour-red-has/5-red1.jpg.aspx" alt="slide-1" class="mainImage">
              <div class="roundOuter"><img src="https://www.architectureanddesign.com.au/getattachment/Features/List/Bold-beautiful-and-beloved-how-the-colour-red-has/5-red1.jpg.aspx" alt="slide-1"></div>
              <div class="roundInner"><img src="https://www.architectureanddesign.com.au/getattachment/Features/List/Bold-beautiful-and-beloved-how-the-colour-red-has/5-red1.jpg.aspx" alt="slide-1"></div>
              <div class="slideText">
                <h1 class="animate__animated animate__fadeInUp">DECORE</h1>
                <p class="animate__animated animate__fadeInUp ">Feel The Comfort</p>
                <div class="buttonNav animate__animated animate__fadeInDown">
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="prev"><i class="fa-solid fa-arrow-left-long"></i></button>
                  <span></span>
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="next"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slide">
              <img src="https://wallpaperaccess.com/full/2076086.jpg" alt="slide-1" class="mainImage">
              <div class="roundOuter"><img src="https://wallpaperaccess.com/full/2076086.jpg" alt="slide-1"></div>
              <div class="roundInner"><img src="https://wallpaperaccess.com/full/2076086.jpg" alt="slide-1"></div>
              <div class="slideText">
                <h1 class="animate__animated animate__fadeInUp">decore</h1>
                <p class="animate__animated animate__fadeInUp">WholeSale & Retail</p>
                <div class="buttonNav animate__animated animate__fadeInDown">
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="prev"><i class="fa-solid fa-arrow-left-long"></i></button>
                  <span></span>
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="next"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slide">
              <img src="https://images.alphacoders.com/208/208741.jpg" alt="slide-1" class="mainImage">
              <div class="roundOuter"><img src="https://images.alphacoders.com/208/208741.jpg" alt="slide-1"></div>
              <div class="roundInner"><img src="https://images.alphacoders.com/208/208741.jpg" alt="slide-1"></div>
              <div class="slideText">
                <h1 class="animate__animated animate__fadeInUp">decore</h1>
                <p class="animate__animated animate__fadeInUp">High quality at lowest price</p>
                <div class="buttonNav animate__animated animate__fadeInDown">
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="prev"><i class="fa-solid fa-arrow-left-long"></i></button>
                  <span></span>
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="next"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="slide">
              <img src="https://i.pinimg.com/originals/a2/52/0d/a2520df3130db2a88edc4834128b8515.jpg" alt="slide-1" class="mainImage">
              <div class="roundOuter"><img src="https://i.pinimg.com/originals/a2/52/0d/a2520df3130db2a88edc4834128b8515.jpg" alt="slide-1"></div>
              <div class="roundInner"><img src="https://i.pinimg.com/originals/a2/52/0d/a2520df3130db2a88edc4834128b8515.jpg" alt="slide-1"></div>
              <div class="slideText">
                <h1 class="animate__animated animate__fadeInUp">Decore</h1>
                <p class="animate__animated animate__fadeInUp">make your choice wisely</p>
                <div class="buttonNav animate__animated animate__fadeInDown">
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="prev"><i class="fa-solid fa-arrow-left-long"></i></button>
                  <span></span>
                  <button type="button" data-bs-target="#rotoTransition" data-bs-slide="next"><i class="fa-solid fa-arrow-right-long"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Category -->
    <!-- Category -->
    <div class="header" style="margin-top: 60px;">
        <h2>What You Looking For</h2>
      </div>

    <div class="Categories" style="margin-bottom: 100px;margin-top:50px;">
       
      <div class="category-list" onclick="location.href='/homeproduct';" style="cursor: pointer; padding-left: 120px ; ">
        <!-- Category 1 -->
        <div class="card mb-3" style="max-width: 540px; box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.262);  background-image:url(https://cdn.shopify.com/s/files/1/0274/7429/6892/products/D101-brown-marble-texture-background-abstract-marble-texture_1024x1024.jpg?v=1577244530);">
          <div class="row g-0">
            <div class="col-md-4" >
             <a href="/homeproduct">
              <img src="/img/chairs category.webp" class="img-fluid rounded-start" alt="..." />
             </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">HOME</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  > -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="category-list" onclick="location.href='/office';" style="cursor: pointer;">
        <!-- Category 2 -->
        <div class="card mb-3" style="max-width: 540px; box-shadow: 1px 6px 12px rgba(0, 0, 0, 0.262); background-image:url(https://cdn.shopify.com/s/files/1/0274/7429/6892/products/D101-brown-marble-texture-background-abstract-marble-texture_1024x1024.jpg?v=1577244530);">
          <div class="row g-0">
            <div class="col-md-4">
              <a href="/office">
              <img src="/img/office.jpg" class="img-fluid rounded-start" alt="..." />
              </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">OFFICE</h5>
                <p class="card-text">
                  This is a wider card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
                <p class="card-text">
                  <!-- <small class="text-body-secondary"
                    >Last updated 3 mins ago</small
                  > -->
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Header -->
    <div class="header">
      <h2>Explore Our Latest Furniture Collection</h2>

      <div class="dropdown" style="position: absolute; top: 155%; right: 50px;">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: #800000; border-color: #800000; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
          Sort By
        </button>
        <ul class="dropdown-menu" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);">
          <li><a class="dropdown-item" href="/Home/popularity">Popularity</a></li>
          <li><a class="dropdown-item" href="/Home/priceLowToHigh">Price: Low to High</a></li>
          <li><a class="dropdown-item" href="/Home/priceHighToLow">Price: High to Low</a></li>
          <li><a class="dropdown-item" href="/Home/averageRatings">Average Ratings</a></li>
          <li><a class="dropdown-item" href="/Home/featured">Featured</a></li>
          <li><a class="dropdown-item" href="/Home/newArrivals">New Arrivals</a></li>
          <li><a class="dropdown-item" href="/Home/aToZ">A-Z</a></li>
          <li><a class="dropdown-item" href="/Home/zToA">Z-A</a></li>
         
        </ul>
      </div>
    </div>

    </div>

    <!-- Products -->
    <div class="product">
      <% 
      const inStockProducts = products.filter(product => product.stockCount > 0);
      const outOfStockProducts = products.filter(product => product.stockCount <= 0);
    
      inStockProducts.forEach(product => { %>
        <div class="product-card">
          <a href="/display/<%= product.id %>">
            <div class="product-tumb">
              <img src="<%= product.productImage[0] %>" alt="<%= product.productName %>">
            </div>
            <div class="product-details">
              <h4><a href="/display/<%= product.id %>"><%= product.productName %></a></h4>
              <div class="product-rating">
                <% if (product.averageRating > 0) { %>
                  <% for(let i = 1; i <= 5; i++) { %>
                    <% if (i <= product.averageRating) { %>
                      <span class="fa fa-star checked"></span>
                    <% } else if (i == Math.ceil(product.averageRating) && product.averageRating % 1 !== 0) { %>
                      <span class="fa fa-star half-checked"></span>
                    <% } else { %>
                      <span class="fa fa-star"></span>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <span></span>
                <% } %>
              </div>
              <div class="product-bottom-details">
                <% if (product.offerDiscountPercentage > 0) { %>
                  <div class="product-price">
                    <span style="text-decoration: line-through;color:#33333368 ;">₹<%= product.price %></span> 
                    <span style="color: rgb(142, 0, 0);"><%= product.price - (product.price * product.offerDiscountPercentage / 100).toFixed(2) %> </span>
                  </div>
                <% } else { %>
                  <div class="product-price">₹<%= product.price %></div>
                <% } %>
                <div class="product-links">
                  <a href="#" class="favorite-btn" data-product-id="<%= product.id %>">
                    <i class="fa fa-heart"></i>
                  </a>
                  <a href="#" class="add-to-cart-btn" data-product-id="<%= product.id %>" data-stock-count="<%= product.stockCount %>">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    
      <% 
      outOfStockProducts.forEach(product => { %>
        <div class="product-card">
          <a href="/display/<%= product.id %>">
            <div class="product-tumb">
              <img src="<%= product.productImage[0] %>" alt="<%= product.productName %>">
            </div>
            
            <div class="product-details">
              <h4><a href="/display/<%= product.id %>"><%= product.productName %></a></h4>
              <div class="product-rating">
                <% if (product.averageRating > 0) { %>
                  <% for(let i = 1; i <= 5; i++) { %>
                    <% if (i <= product.averageRating) { %>
                      <span class="fa fa-star checked"></span>
                    <% } else if (i == Math.ceil(product.averageRating) && product.averageRating % 1 !== 0) { %>
                      <span class="fa fa-star half-checked"></span>
                    <% } else { %>
                      <span class="fa fa-star"></span>
                    <% } %>
                  <% } %>
                <% } else { %>
                  <span></span>
                <% } %>
              </div>
              <div class="product-price" style="color: rgb(255, 0, 0);">Out of Stock</div>
              <div class="product-bottom-details">
                <% if (product.offerDiscountPercentage > 0) { %>
                  <div class="product-price">
                    <span style="text-decoration: line-through;color:#33333368 ;">₹<%= product.price %></span> 
                    <span style="color: rgb(142, 0, 0);"><%= product.price - (product.price * product.offerDiscountPercentage / 100).toFixed(2) %> </span>
                  </div>
                <% } else { %>
                  <div class="product-price">₹<%= product.price %></div>
                <% } %>
               
                <div class="product-links">
                  <a href="#" class="favorite-btn" data-product-id="<%= product.id %>">
                    <i class="fa fa-heart"></i>
                  </a>
                  <a href="#" class="add-to-cart-btn" data-product-id="<%= product.id %>" data-stock-count="<%= product.stockCount %>">
                    <i class="fa fa-shopping-cart"></i>
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      <% }); %>
    </div>
    
    
    

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-section about">
          <h4>About Us</h4>
          <p>
            Decore Company is your one-stop destination for high-quality
            furniture. Explore our exclusive collection to find the perfect
            pieces for your home.
          </p>
        </div>
        <div class="footer-section contact">
          <h4>Contact Information</h4>
          <p>Email: info@decorecompany.com</p>
          <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="footer-section social">
          <h4>Follow Us</h4>
          <a href="#" class="social-icon"
          ><img src="/img/facebook-scalable-graphics-icon-facebook-logo-facebook-logo-png-clip-art.png" alt="Facebook"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/Twitter_new_X_logo.png" alt="Twitter"
        /></a>
        <a href="#" class="social-icon"
          ><img src="/img/1658586823instagram-logo-transparent.webp" alt="Instagram"
        /></a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>&copy; 2024 Decore Company. All Rights Reserved.</p>
      </div>
    </footer>
<!-- Include SweetAlert2 from CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  document.addEventListener('DOMContentLoaded', () => {
      const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');

      addToCartButtons.forEach(button => {
          button.addEventListener('click', (event) => {
              event.preventDefault();
              const productId = button.getAttribute('data-product-id');
              const stockCount = button.getAttribute('data-stock-count');

              if (parseInt(stockCount) > 0) {
                  addToCart(productId);
              } else {
                  Swal.fire({
                      title: 'Out of Stock!',
                      text: 'This product is currently out of stock.',
                      icon: 'error',
                      confirmButtonText: 'OK'
                  });
              }
          });
      });

      function addToCart(productId) {
          fetch(`/add-to-cart/${productId}`, {
              method: 'POST',
          })
              .then(response => response.json())
              .then(data => {
                  Swal.fire({
                      title: 'Success!',
                      text: data.message,
                      icon: 'success',
                      confirmButtonText: 'OK'
                  });
              })
              .catch(error => console.error('Error:', error));
      }
        const searchInput = document.getElementById('searchInput');
            searchInput.value = '';
  });

  function searchProducts() {
      const searchQuery = document.getElementById('searchInput').value;
      
      if (searchQuery.trim() !== '') {
          fetch(`/search?query=${searchQuery}`, {
              method: 'GET',
          })
              .then(response => response.json())
              .then(products => {
                  updateProductSection(products);
              })
              .catch(error => console.error('Error:', error));
      }
  }

  function updateProductSection(products) {
      const productContainer = document.querySelector('.product');
      productContainer.innerHTML = ''; // Clear existing products

      products.forEach(product => {
          const productCard = `
              <div class="product-card">
                  <a href="/display/${product.id}">
                      <div class="product-tumb">
                          <img src="${product.productImage[0]}" alt="${product.productName}">
                      </div>
                      <div class="product-details">
                          <h4><a href="/display/${product.id}">${product.productName}</a></h4>
                          <div class="product-bottom-details">
                              <div class="product-price">₹${product.price}</div>
                              <div class="product-links">
                                  <a href="#" class="favorite-btn"><i class="fa fa-heart"></i></a>
                                  <a href="#" class="add-to-cart-btn" data-product-id="${product.id}" data-stock-count="${product.stockCount}">
                                      <i class="fa fa-shopping-cart"></i>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </a>
              </div>
          `;
          productContainer.innerHTML += productCard;
      });

  }
  //wishlist
  
  const favoriteButtons = document.querySelectorAll('.favorite-btn');

    // Initialize the wishlist from local storage or an empty array
    // let wishlist = JSON.parse(localStorage.getItem('wishlist')) || [];
    let wishlist = JSON.parse('<%- JSON.stringify(productIds) %>') || [];
//     let wishlistString = '<%- JSON.stringify(productIds) %>';
// console.log('wishlistString:', wishlistString);

// let wishlist = JSON.parse(wishlistString) || [];
// console.log(wishlist);

    console.log(wishlist);

    // Function to update the heart icon based on the wishlist status
    // const updateHeartIcon = (button, productId) => {
    //     if (wishlist.includes(productId)) {
    //         button.classList.add('active');
    //     } else {
    //         button.classList.remove('active');
    //     }
    // };
    const updateHeartIcon = (button, productId) => {
  
    if (wishlist.includes(productId)) {
        console.log(`Product ${productId} is in the wishlist`);
        button.classList.add('active');
    } else {
        console.log(`Product ${productId} is NOT in the wishlist`);
        button.classList.remove('active');
    }
};

    // Event listener for the heart icons
    favoriteButtons.forEach(button => {
        const productId = button.getAttribute('data-product-id');

        // Update the heart icon on page load
        updateHeartIcon(button, productId);

        button.addEventListener('click', function (event) {
            event.preventDefault();

            // Check if the product is in the wishlist
            const isInWishlist = wishlist.includes(productId);

            // Toggle the 'active' class on the clicked heart icon
            this.classList.toggle('active', !isInWishlist);

            // Update the wishlist array based on the current state
            if (isInWishlist) {
                wishlist = wishlist.filter(id => id !== productId);
            } else {
                wishlist.push(productId);
            }

            // Save the updated wishlist to local storage
            localStorage.setItem('wishlist', JSON.stringify(wishlist));

            // Send a request to the server to add/remove the product from the wishlist
            fetch(`/toggleWishlist/${productId}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ remove: isInWishlist }),
            })
            .then(response => response.json())
            .then(data => {
                if (!data.success) {
                    // If there was an error, revert the local changes
                    updateHeartIcon(this, productId);
                    localStorage.setItem('wishlist', JSON.stringify(wishlist));
                }

                // Use SweetAlert to show a confirmation message
                Swal.fire({
                    icon: 'success',
                    title: isInWishlist ? 'Product removed from wishlist!' : 'Product added to wishlist!',
                    showConfirmButton: false,
                    timer: 1500 // Display the alert for 1.5 seconds
                });
            })
            .catch(error => {
                console.error('Error:', error);
                // Show a generic error message
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'An error occurred. Please try again later.'
                });
            });
        });
    });

</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script>
window.onscroll = function () {
  const mainNav = document.getElementById('roto');
  // const upbtn = document.getElementById("upBtn");
  if (mainNav) {
      if (window.pageYOffset > 1) {
          mainNav.classList.add("active");
          // upbtn.classList.add("active");
      } else {
          mainNav.classList.remove("active");
          // upbtn.classList.remove("active");
      }
  }
}</script>
    

    
    
  </body>
</html>
